<!doctype html>
<head>
    <title>Add Student</title>
</head>
<body>
    <p>Enter information below to add a new student.</p>
    <form action="/student-add" method="post">
        <label>Student first name: <input type="text" name="first-name"></label><br>
        <label>Student last name: <input type="text" name="last-name"></label><br>
        <label>Student github account: <input type="text" name="github"></label><br>
        <input type="submit" value="Add student">
    </form>
</body>
</html>